<!-- <button class="btn btn-primary js-toggle-dark-mode" style="align-self: center;">DARK</button> -->
<footer class="site-footer">
    <a href="http://team4096.org/">team4096.org</a><br>
    © FRC Team 4096: Ctrl-Z
</footer>

<!-- <script>
    const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');
    
    jtd.addEvent(toggleDarkMode, 'click', function(){
      if (jtd.getTheme() === 'ctrlz') {
        jtd.setTheme('ctrlz-dark');
        toggleDarkMode.textContent = 'DARK';
      } else {
        jtd.setTheme('ctrlz');
        toggleDarkMode.textContent = 'LIGHT';
      }
    });
</script> -->